
.logoXXL{
    padding-top: 15px;
    font-size: 13rem;
    text-align: center;
}

.encabezadoPanel{
    display: flex;
    justify-content: center;
    align-items:start;
    color: #18206F;
}
.encabezadoTitulos{
    margin-top: 25px;
    text-align:left;
    font-size: 2rem;
}
.encabezadoTitulos h1, h3, h5{
    margin-block: 5px;
}
.panel{ 
    background-color: #f1f1ef;
    height: 86vh;
    width: 100%;
    margin: 25px 25px 25px 0px;
    padding: 20px;
    border-radius: 50px;
    overflow: auto;
}
.panel::-webkit-scrollbar {
    display: none;
    width: 1px;
}
.contenido{
    display: flex;
    flex-direction: column;
}