.logoXXL{
    font-size: 1100%;
    text-align: center;
}

.encabezadoPanel{
    display: flex;
    justify-content: center;
}
.encabezadoTitulos{
    margin-top: 25px;
    text-align: justify;
    font-size: xx-large;
}
h1, h3, h5{
    
    margin: 0;
}
.panelPerfil{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.perfilBtns{
    grid-column: 1/4;
    grid-row: 6;
    flex-direction: row;
    justify-content: space-between;
}
