.titulo{
    text-align: center;
    font-weight: bolder;
    font-size: 69px;
    margin-left: 18%;
    margin-right: 10%;
    margin-top: -0.1%;
}

.subtitulo{
    text-align: center;
    font-size: 34px;
    margin-left:29%;
    margin-right:30%;
    margin-top:-3%;
}

.usuario{
    text-align: center;
    font-size: 25px;
    margin-left:29%;
    margin-right:42%;
    margin-top: -1%;

}

.img{
    font-size: 300px;
    position: absolute;
    left: 20%;
}

.hr{
    width: 96%;
    height: 3px;
    border: 0 none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3%;
}
.grafica{
    text-align: center;
    margin-top: 3%;
    background-color:aliceblue ;

}
