@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Playfair+Display&display=swap');
body{
    font-family: 'Playfair Display', serif;
    background-color: #f1f1ef;
}


a{
    font-size: 26px;
}
.login{
    margin-left: 30px;
    margin-top: 30px;
    font-size: xx-large;
    cursor:pointer;
    width: fit-content;
    position:fixed;
  }
.logoInicio{
    margin: 0;
    padding: 0;
    font-size: 150px;
}
.Login{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: max-content;
    margin: auto;
    text-align: center;
    color: #18206F;
}

form{
    margin: 20px;
    text-align: center;
}

input{
    font-family: 'Playfair Display', serif;
    font-size: 26px;
    border: none;
    padding: 15px;
    border-radius: 18px;
    background-color: #FFFF;
    color: black;
    margin: 10px;
}
button{
    font-family:'Times New Roman', Times, serif;
    font-size: 26px;
    border: none;
    padding: 15px;
    border-radius: 18px;
    background-color: #18206F;
    color: #f1f1ef;
    margin: 10px;
    cursor: pointer;
}
#register{
    text-decoration:underline;
    font-family: 'Playfair Display', serif;
    margin: 10px;
    color: #18206F;
    font-size: 26px;
    cursor: pointer;
}