

.panel{
    margin:10%;
    padding: 5%;
    border-radius: 30px;
    background-color: #ADF7B6;
    text-align: center;
    padding-inline: 3%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.panelF{
    margin:10%;
    padding: 5%;
    border-radius: 30px;
    background-color: #ADF7B6;
    text-align: center;
}
.panel2{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90%;
    height: 80%;
    margin: auto;
    border-radius: 20px;
    background-color: #ADF7B6;
    text-align: center;
    padding-block: 3%;
    padding-inline: 3%; 
}

.panelPreguntas{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tituloPregunta{
    font-family: 'Knewave', cursive;
    text-align: center;
    font-size: 5vh;
    margin-bottom: 30px;
}

.opcionesPreguntas{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: max-content;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imgOpciones{
    height: 250px;
    width: 250px;
    object-fit: cover;
    margin: 5%;
}

.botonesRespuesta{
    padding: 10px;
    width: 350px;
}


.panelResultado{
    display: flex;
    justify-content: start;
}

.panelBoton{
    display: flex;
    justify-content: end;
    
}

.juego{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
